@model QLCoffee.Models.QLHoaDon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QLHoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhSachDoUong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhSachDoUong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhGia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
