@model QLCoffee.Models.HoaDonViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="QLHoaDons" asp-action="Index" method="get">
    <p>
        <select asp-for="HoaDonGenre" asp-items="Model.NgayGio">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoaDons![0].TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoaDons![0].NgayGio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoaDons![0].DanhSachDoUong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoaDons![0].TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoaDons![0].DanhGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HoaDons!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhSachDoUong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhGia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
