@model QLCoffee.Models.DoUongViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="QLDoUongs" asp-action="Index" method="get">
    <p>
        <select asp-for="DoUongGenre" asp-items="Model.Loai">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoUongs![0].TenDoUong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoUongs![0].MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoUongs![0].LoaiMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoUongs![0].Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoUongs![0].DanhGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DoUongs!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDoUong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhGia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
